body{
    background-color: rgba(174, 168, 168, 0.55);
    display: block;
}

header{
    background-color: burlywood;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: large;
    display: flex;
    justify-content: center;
}

section{
    
    display: flex;
}

form{
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: chocolate;
    height: 40rem;
    width: 30rem;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset{
    box-sizing: content-box;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem 1rem 2rem;
    height: 30rem;
    width: 20rem;
}

label{
    margin-top: 1rem;
}

input{
    border-radius: .5rem;
    width: 13rem;
    height: 1.2rem;
}

button{
    cursor: pointer;
    margin-top: 1rem;
    height: 2rem;
    width: 7rem;
    border-radius: 5rem;
}

div{

    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 40rem;
    width: 60rem;
    padding: 10rem;
}

